body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}

input {
  width: 130px;
  height: 15px;
  border-radius: 5px;
  outline: none;
  padding: 0 10px;
}

button {
  margin: 2px;
}

#root {
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.app {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.aside {
  width: 20%;
  padding: 20px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid black;
  height: 55%;
  display: block;
}

.aside_content {
  width: 220px;
  padding: 10px 0;
}

.aside p {
  margin: 0;
  margin-left: 5px;
  color: red;
}

.aside-preloader {
  position: relative;
  left: 70px;
}

.right-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modules {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
}

.module {
  padding-top: 15px;
  width: 45%;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2px;
  max-height: 90px;
  margin-right: 2px;
}

.module span {
  margin-left: 20px;
}

.module input {
  margin-left: 20px;
}

.module button {
  margin-left: 20px;
}

.module div {
  display: inline-block;
}

.btn_up:after {
  content: '\2191';
}

.btn_down:after {
  content: '\2193';
}

.search-module div {
  padding: 20px;
}

.search-module div input {
  outline: none;
}

.citys-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.city-card {
  padding: 10px 0;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
  height: 110px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.city-card a {
  width: 100%;
}

.city-card div {
  padding: 5px 15px;
}

.icons {
  width: 40%;
  display: inline-block;
}

.star {
  position: relative;
  top: 10px;
  right: 20px;
  height: 30px;
}

.city-card:hover {
  background-color: #d9af39;
}

.city-card_content {
  width: 45%;
  padding: 10px 5px 10px 20px;
  display: inline-block;
}

.hidden {
  display: none;
}

.citys-list_modal {
  position: relative;
  top: 100px;
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  outline: none;
}

.citys-list-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.city-name {
  margin: 0;
  display: inline-block;
}

.city-author {
  margin: 10px 0;
}

.favorite {
  width: 20%;
}

.weather-icon {
  height: 60px;
  margin-right: 20px;
}

.btn_up:after {
  content: '\2191';
}

.btn_down:after {
  content: '\2193';
}

.main-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.info {
  display: flex;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  height: 250px;
  justify-content: space-around;
  border-radius: 10px;
  background-color: #fff;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.pagination h2 {
  display: inline;
}
